# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build outputs.
build/

# Omit committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
.failed_tracker
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/modules.xml
.idea/peerdart.iml
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool
.idea